.swiper {
  z-index: 0;
}
/* Змінити колір стрілок навігації */
.swiper-button-next,
.swiper-button-prev {
  margin-top: 80px;
  color: var(--main-color);
}

/* Змінити колір активної точки пагінації */
.swiper-pagination-bullet-active {
  background-color: var(--main-color);
}
.swiper-slide {
  margin-left: auto;
  margin-right: auto;
  z-index: 0;
}
