/* @import-normalize; /* bring in normalize.css styles */

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
ul {
  padding: 0;
  list-style: none;
}
input,
button,
textarea,
select {
  font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgb(0, 102, 153);
} */
/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  color: rgb(96, 176, 140);
  color: rgb(255, 255, 255);
  color: rgb(0, 102, 153);
  text-decoration: none;
  background-color: none;
  border: none;
  font: bold;
  display: flex;
}  */
:root {
  --main-color: #696d7d;
  --focus-color: #68b0ab;
  --bg-color-accent: #8fc0a9;
  --hover-effect: #c8d5b9;
  --background-color: #faf3dd;

  --font-color: #757575;
  --white-element: #fff;
  --black-element: #000;
  --button-bg: #f5f4fa;
  --link-color: #afb1b8;
}
.palet1 {
  color: #696d7d;
  color: #68b0ab;
  color: #8fc0a9;
  color: #c8d5b9;
  color: #faf3dd;
}
.palet2 {
  --main-color: #38c2c9;
  --focus-color: #1a1d1f;
  --bg-color-accent: #38c2c9;
  --background-color: #d9d9d9;

  --font-color: #353535;
  --white-element: #ffffff;
  --black-element: #000;
  --button-bg: #d9d9d9;
  --link-color: #afb1b8;

  color: #284b63;
  color: #d9d9d9;
  color: #ffffff;
  color: #3c6e71;
  color: #353535;
}
